.DS_Store
thumbs.db
public/*
node_modules/*
npm-debug.log
*.bak
webapp/config/config.js
node_modules/*
node_modules
*-off/
front-app/public/*
config.js
config/config.js
config/config-local.js
config-local.js
config-*.js
