body {
	background-color: rgb(200,199,198);
	color: black;
	font-family: "Source Sans Pro";
}

a,
a:hover,
a:visited,
a:active {
	text-decoration: none;
	color: black;
}

.element-hidden {
	display: block;
	margin: 0px; padding: 0px;
	height: 0px; width: 0px;
	overflow: hidden;
	position: absolute;
	left: -1000px; top: -1000px;
}

.left {
	float: left;
}

.right {
	float: right;
}

#content {
	position: absolute;
	top: 0px; right: 0px; bottom: 0px; left: 0px;
	z-index: -100;
	overflow: hidden;
}

#content iframe {
	border: 0px solid transparent;
	width: 100%; height: 100%;
	overflow: hidden;
}

/* normal body copy text */
.text {

}

.text a {
	text-decoration: underline;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix {
  display: block;
}
