/*
 *	specific styles for parts of the top content pages
 */
 
/*header.open {
  box-shadow: 0 0 15px rgba(0,0,0,0.25);
}*/

#top-content-views ul {
	margin: 0px; padding: 0px;
	list-style: none;
	display: block;
}

#top-content-views li {
	float: left;
}

#top-content-views li a {
	display: block;
	width: 173px;
}

#top-content-views li a.active {
	background-color: #eeff99;
}

#top-content-performances a.active {
	font-weight: bold;
	background-color: rgb(220,219,218);
}

#top-navigation .nav-selection {
  font-size: 13px;
  text-transform: lowercase;
}

#top-content {
  font-size: 13px;
}

#top-navigation ul li {
  position: relative;
  font-size: 17px;
}

.top-nav-preview-container li {
  float: left;
  margin-right: 36px;
}

.top-nav-preview-container li:last-child {
  margin-right: 0px;
}

#top-content .row {
  margin-left: -36px;
  margin-bottom: 36px;
  display: inline-block;
}

#top-content .row:last-child {
  margin-bottom: 0px;
}

#top-content .w1,
#top-content .w2,
#top-content .w3,
#top-content .w4 {
  display: block;
  float: left;
  line-height: 18px;
  margin-left: 36px;
}

#top-content .w3 {
  width: 591px;
}

#top-content .w2 {
  width: 382px;
}

#top-content .w1 {
  width: 173px;
}

#top-content .w1 img {
  width: 173px;
}

#top-content dt {
  font-size: 18px;
  font-weight: bold;
}