#tool-container {

	/* http://gradients.glrzad.com/ */
	background-image: linear-gradient(bottom, rgb(238, 238, 238) 11%, #307575 77%);
	background-image: -o-linear-gradient(bottom, rgb(238, 238, 238) 11%, #307575 77%);
	background-image: -moz-linear-gradient(bottom, rgb(238, 238, 238) 11%, #307575 77%);
	background-image: -webkit-linear-gradient(bottom, rgb(238, 238, 238) 11%, #307575 77%);
	background-image: -ms-linear-gradient(bottom, rgb(238, 238, 238) 11%, #307575 77%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.11, rgb(238, 238, 238)),
		color-stop(0.77, #307575)
	);

	display: block;
	height: 100%;
	width: 100%;

	color: white;

	padding-top: 10%;
	padding-right: 5%;
	padding-left: 5%;
}

#tool-container h1 {
	width: 100%;
	text-align: center;
	font-weight: 400;
	font-size: 34px;
	letter-spacing: 0.3em;
	padding-bottom: 2em;
}

#tool-container p {
	width: 100%;
	text-align: center;
	font-size: 28px;
}
