<h1>You have <%= user.sets.length %> sets</h1>
<br/>
<% for ( var i = 0; i < user.sets.length; i++ ) { %>
	<a href="/admin/sets/<%= user.sets[i].id %>/layout"><%= user.sets[i].title %></a><br />
<% } %>