/* https://github.com/murtaugh/HTML5-Reset */

/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:
	
	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
	
-------------------------------------------------------------------------------*/

/* Let's default this puppy out
-------------------------------------------------------------------------------*/

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}									

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */

article, aside, figure, footer, header, hgroup, nav, section, details, summary {display: block;}

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
img,
object,
embed {max-width: 100%;}

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted. 
	don't forget to restore the bullets within content. */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before, 
blockquote:after, 
q:before, 
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom;}
.ie7 input[type="checkbox"] {vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}

small {font-size: 85%;}

strong {font-weight: bold;}

td, td img {vertical-align: top;} 

/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label, 
input[type=button], 
input[type=submit], 
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button {width: auto; overflow: visible;}
 
/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover */
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; }  /* https://github.com/murtaugh/HTML5-Reset */

/* apply a natural box layout model to all elements */
/* http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.chromeframe {position: absolute; top: 0;}

/* Ok, this is where the fun starts.
-------------------------------------------------------------------------------*/

/* new Linux- and Windows-friendly sans-serif font stack: http://mky.be/fontstack */
body {font: 13px Helmet, Freesans, sans-serif;}

/* using local fonts? make sure to read up on Paul Irish's 
	Bulletproof @font-face syntax: http://mky.be/font-face/bulletproof/ */

/* we like off-black for text */
body, select, input, textarea {color: #333;}

a {color: #03f;}
a:hover {color: #69f;}

/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;} 

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;} 

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder { color:#a9a9a9; }
textarea:-moz-placeholder { color:#a9a9a9; }



/* Print styles!
-------------------------------------------------------------------------------*/
@media print {



}


/* Media queries!
-------------------------------------------------------------------------------*/

@media screen and (max-width: 480px) {


}html {
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	overflow: hidden;
}

a, a:hover, a:active, a:link, a:visited {
	color: inherit;
	text-decoration: none;
}

.element-hidden {
	display: inline;
	position: absolute;
	left: -1000px;
	top: -1000px;
	height: 0px;
	width: 0px;
	overflow: hidden;
}

.left {
	float: left;
}

#main-wrapper {
	width: 100%;
	height: 100%;
}

#logo {
	position: absolute;
	z-index: 1000;
	left: 22px;
	top: 14px;
	background-repeat: no-repeat;
}

#app {
	height: 100%;
}#tool-container {

	/* http://gradients.glrzad.com/ */
	background-image: linear-gradient(bottom, rgb(238, 238, 238) 11%, #307575 77%);
	background-image: -o-linear-gradient(bottom, rgb(238, 238, 238) 11%, #307575 77%);
	background-image: -moz-linear-gradient(bottom, rgb(238, 238, 238) 11%, #307575 77%);
	background-image: -webkit-linear-gradient(bottom, rgb(238, 238, 238) 11%, #307575 77%);
	background-image: -ms-linear-gradient(bottom, rgb(238, 238, 238) 11%, #307575 77%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.11, rgb(238, 238, 238)),
		color-stop(0.77, #307575)
	);

	display: block;
	height: 100%;
	width: 100%;

	color: white;

	padding-top: 20%;
	padding-right: 5%;
	padding-left: 5%;
}

#tool-container h1 {
	width: 100%;
	text-align: center;
	font-weight: 400;
	font-size: 34px;
	letter-spacing: 0.3em;
	padding-bottom: 2em;
}

#tool-container p {
	width: 100%;
	text-align: center;
	font-size: 28px;
}

#main-menu-container {

	position: relative;

	height: 72px;

	background-color: rgb(238, 238, 238); /* make this the stop color of the start page gradient bottom */
	background-image: linear-gradient(bottom, rgb(210, 210, 210) 11%, rgb(238, 238, 238) 77%);
	background-image: -o-linear-gradient(bottom, rgb(210, 210, 210) 11%, rgb(238, 238, 238) 77%);
	background-image: -moz-linear-gradient(bottom, rgb(210, 210, 210) 11%, rgb(238, 238, 238) 77%);
	background-image: -webkit-linear-gradient(bottom, rgb(210, 210, 210) 11%, rgb(238, 238, 238) 77%);
	background-image: -ms-linear-gradient(bottom, rgb(210, 210, 210) 11%, rgb(238, 238, 238) 77%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.77, rgb(238, 238, 238)),
		color-stop(0.11, rgb(210, 210, 210))
	);

	border-bottom: 1px solid black;

	font-family: 'Open Sans';
	font-weight: 300; /* book */
	letter-spacing: 0.3em;
}

#main-menu-container .menu {
	padding-top: 26px;
}

#main-menu-container .menu li {
	display: inline-block;
}

#main-menu-container .menu li a {
	display: block;
}

#main-menu li {
	padding-right: 36px;
}

#main-menu li:last-child {
	padding-right: 0px;
}

#main-title {
	font-weight: 300;
	padding-top: 25px;
	padding-right: 26px;
	float: right;
	text-transform: uppercase;
	font-size: 15px;
	min-width: 500px;
	text-align: right;
}

#main-menu {
	width: 100%;
}

#main-menu ul {
	width: 550px;
	display: block;
	margin: 0px auto;
	text-align: center;
}

#main-menu ul {
	border-bottom: 1px solid black;
	padding-bottom: 8px;
	position: relative; /* allow for slider to be positioned */
}

#slider {
	position: absolute;
	bottom: 0px;
	padding-top: 20px;
}

#slider a {
	display: block;
	background-color: rgba(0,0,0,0.3);
	width: 100px;
	height: 24px;
}

#secondary-menu li {
}

#secondary-menu {
	float: right;
	padding-right: 26px;
}
#grid-view-container {
	margin-top: -72px;
	padding-top: 72px;
	height: 100%;
	width: 100%;
}

#grid-view {
	position: relative;
	width: 100%;
	height: 100%;
}

#grid-view article.cell {
	position: absolute;
	padding: 1px;
	color: white;
}
#grid-view article.cell.no-img {
	color: black;
}

#grid-view article.cell h1.title {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 0.1em;
	padding: 18px;
}

#grid-view article.cell .info {
	display: none;
}


#grid-view article.cell.no-img .info,
#grid-view article.cell:hover .info {
	display: block;
}

#grid-view article.cell:hover {
	border: 1px solid white;
	padding: 0px;
}

#grid-view article.cell.active {
	border: 1px solid black;
	padding: 0px;
}

#grid-view article.cell.active .info {
	display: none;
}

#grid-view article.cell {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: fixed;
	-webkit-background-size : cover;
	-moz-background-size : cover;
	-o-background-size : cover;
	background-size : cover;
}

#grid-view article.cell .content {
}
#grid-view article.cell .content iframe {
	width: 100%;
	height: 100%;
	border: 0px;
	overflow: hidden;
}
#select-set-view {
	padding: 18px;
	padding-top: 24px;
	background-color: #eeeeee;
	width: 100%;
	height: 100%;
}

#select-set-view h1 {
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 0.2em;
	text-transform: uppercase;

	padding-top: 18px;
	padding-left: 18px;
}

#select-set-view #sets {
	display: block;
	overflow-y: scroll;
	width: 100%;
	height: 100%;
	padding-top: 30px;
}

#select-set-view #sets .set {
	padding: 18px;
	padding-top: 16px;
}

#select-set-view #sets .set:hover {
	background-color: white;
}

#select-set-view #sets .set .title {
	letter-spacing: 0.2em;
	margin-bottom: 1em;
}