body {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;

	background-color: white;
  overflow: hidden;
  padding: 0px; margin: 0px;
}
#main {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}

h3 { 
  display: none; 
}

.title { 
  font-weight: bold 
}

#title-container {
  padding: 1em;
  border-bottom: 1px solid #999;
  text-transform: uppercase;
}

.scene {
	padding: 1em;
	line-height: 1.6;
}

.scene p {
  margin-top: 0px;
}

table {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

#scenes-container {
  position: relative;
  height: 100%;
}

#scenes {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow: auto;
}

#score-nav-tabs,
#tabs-container {
  position: relative;
  width: 50px;
}

#score-nav-tabs {
  position: absolute;
  right: 0px;
  top: 0em;
  bottom: 0px;
  border-left: 1px solid #999;
}

#score-nav-tabs > * {
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #999;
  cursor: pointer;
  background: white;
}

#score-nav-tabs > *:last-child {
  border-bottom: 0px none;
}

#score-nav-tabs > *.current {
  font-weight: bold;
  background: #eee;
}

#score-nav-tabs > *:hover {
  background: #eee;
}

@media screen and (max-height: 400px) {

  #tabs-container,
  #score-nav-tabs {
    width: 15px;
  }

  #score-nav-tabs .tab {
    color: transparent;
  }

  #title-container {
    font-size: 80%;
  }
}

@media screen and (max-height: 500px) {

  #scenes {
    font-size: 80%;
  }

  #score-nav-tabs .tab {
    font-size: 75%;
  }
}

/*@media screen and (max-height: 500px) {

  #score-nav-tabs .tab {
    font-size: 85%;
  }
}*/