/*@font-face {
    font-family: 'Open Sans';
    src: url('../../open-sans/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../../open-sans/OpenSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../../open-sans/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../../open-sans/OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../../open-sans/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../../open-sans/OpenSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}*/

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased !important;
	background-color: white;
  overflow: hidden;
  padding: 0px; margin: 0px;
}

#main {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}

h3 { 
  display: none; 
}

.title { 
  font-weight: bold 
}

#title-container {
  padding: 1.5em;
  border-bottom: 1px solid #eee;

  text-transform: uppercase;
}

.scene {
	padding: 1.5em;
	line-height: 1.6em;
}

.scene p {
  margin-top: 0px;
  margin-bottom: 1.6em;
}

.scene p:last-child {
  margin-bottom: 0;
}

table {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  padding: 10px;
  background: #eee;
}

tbody {
  background: #fff;
}

#tabs-wrapper,
#scenes-wrapper {
  height: 100%;
  position: relative;
}

#tabs-container {
  font-size: 90%;
  width: 25px;
  position: relative;
  height: 100%;
}

#scenes-container {
  height: 100%;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

#scenes {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow: auto;
}

#score-nav-tabs {
  position: absolute;
  right: 0px;
  top: 0em;
  bottom: 0px;
  width: 25px;
  
}

#score-nav-tabs > * {
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  cursor: pointer;
  background: #eee;
}

#score-nav-tabs > *:last-child {
  
}

#score-nav-tabs > *.current {
  font-weight: bold;
  background: #fff;
}

#score-nav-tabs > *:hover {
  background: #fff;
}

@media screen and (max-height: 400px) {

  #tabs-container,
  #score-nav-tabs {
    width: 15px;
  }

  #score-nav-tabs .tab {
    color: transparent;
  }

  #title-container {
    font-size: 80%;
  }
}

@media screen and (max-height: 500px) {

  #scenes {
    font-size: 80%;
  }

  #tabs-container,
  #score-nav-tabs {
    width: 20px;
  }

  #score-nav-tabs .tab {
    font-size: 75%;
  }
}

/*@media screen and (max-height: 500px) {

  #score-nav-tabs .tab {
    font-size: 85%;
  }
}*/