body {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;

	background-color: white;
  overflow: hidden;
  padding: 0px; margin: 0px;
}

#title {
  padding: 1em;
  border-bottom: 1px solid #999;
  font-size: 80%;
  text-transform: uppercase;
}

#main {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}

h3 { display: none; }
.title { font-weight: bold }

.scene {
	padding: 1em;
  padding-right: 50px;
	line-height: 1.6;
}

.scene p {
  margin-top: 0px;
}

#score-nav-tabs {
  position: absolute;
  right: 0px;
  top: 0em;
  bottom: 0px;
  width: 30px;
  border-left: 1px solid #999;
}

#score-nav-tabs > * {
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #999;
  cursor: pointer;
  background: white;
}

#score-nav-tabs > *:last-child {
  border-bottom: 0px none;
}

#score-nav-tabs > *.current {
  font-weight: bold;
  background: #eee;
}

#score-nav-tabs > *:hover {
  background: #eee;
}

@media screen and (max-height: 350px) {

  .scene {
    padding-right: 32px;
  }

  #score-nav-tabs {
    width: 15px;
  }

  #score-nav-tabs .tab {
    color: transparent;
  }
}

@media screen and (max-height: 450px) {

  .scene {
    font-size: 80%;
  }

  #score-nav-tabs .tab {
    font-size: 75%;
  }
}

/*@media screen and (max-height: 500px) {

  #score-nav-tabs .tab {
    font-size: 85%;
  }
}*/