
#main-menu-container {

	position: relative;

	display: block;
	height: 58px;

	color: white;
	border-bottom: 1px solid rgba(255,255,255,0.5);

	/*background-color: rgb(238, 238, 238); 
	background-image: linear-gradient(bottom, rgb(210, 210, 210) 11%, rgb(238, 238, 238) 77%);
	background-image: -o-linear-gradient(bottom, rgb(210, 210, 210) 11%, rgb(238, 238, 238) 77%);
	background-image: -moz-linear-gradient(bottom, rgb(210, 210, 210) 11%, rgb(238, 238, 238) 77%);
	background-image: -webkit-linear-gradient(bottom, rgb(210, 210, 210) 11%, rgb(238, 238, 238) 77%);
	background-image: -ms-linear-gradient(bottom, rgb(210, 210, 210) 11%, rgb(238, 238, 238) 77%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.77, rgb(238, 238, 238)),
		color-stop(0.11, rgb(210, 210, 210))
	);*/
	
	/*background-color: rgba(80,80,80,0.8);*/

	font-family: 'Open Sans';
	font-weight: 300; /* book */
	letter-spacing: 0.3em;
}

#main-menu-container .content {
	display: none;
}

#main-menu-container .menu {
	padding-top: 19px;
}

#main-menu-container .menu li {
	display: inline-block;
}

#main-menu-container .menu li a {
	display: block;
}

#main-menu li {
	padding-right: 9px;
}

#main-menu li:last-child {
	padding-right: 0px;
}

#main-title {
	padding-top: 18px;
	padding-right: 18px;
	float: right;
	min-width: 500px;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 15px;
	text-align: right;
}

#main-menu {
	width: 100%;
}

#main-menu ul {
	width: 550px;
	display: block;
	margin: 0px auto;
	text-align: center;
}

#main-menu ul {
	border-bottom: 1px solid black;
	padding-bottom: 8px;
	position: relative; /* allow for slider to be positioned */
}

#secondary-menu li {
}

#secondary-menu {
	float: right;
	padding-right: 18px;
}
