#grid-view-container {

	/*background-color: rgba(80,80,80,0.8);*/

	height: 100%;
	width: 100%;
}

#grid-view {

	position: relative;

	width: 100%;
	height: 100%;
}

#background-grid {

}

#background-grid {

	float: left;
	width: 100%;
	height: 100%;

	border-collapse: separate;
}

#background-grid td {

/*  border-right: 1px solid #888888;
  border-bottom: 1px solid #888888;*/
}

#background-grid .lastrow td {

	border-bottom: 0px solid transparent;
}

#background-grid td.lastcol {

	border-right: 0px solid transparent;
}