#grid-view-container {
	margin-top: -58px;
	padding-top: 58px;
	height: 100%;
	width: 100%;
}

#grid-view {
	position: relative;
	width: 100%;
	height: 100%;

	background-color: #eeeeee;
}

#background-grid {
	display: none;
}

#background-grid {
	float: left;
	width: 100%;
	height: 100%;
}

#background-grid td {
	border-right: 1px solid #888;
	border-bottom: 1px solid #888;
	background-color: #eeeeee;
}

#background-grid .lastrow td,
#background-grid td.lastcol {
	border-right: 0px solid transparent;
	border-bottom: 0px solid transparent;
}