
#grid-view article.cell {
	position: absolute;
	color: white;
}

#grid-view article.cell.no-img {
	color: black;
}

#grid-view article.cell h1.title {
	text-transform: uppercase;
	font-size: 1.4em;
	font-weight: 300;
	letter-spacing: 0.1em;
	margin-bottom: 0.5em;
	overflow: hidden;
	line-height: 1.3;
}

#grid-view article.cell .info .description {
}

#grid-view article.cell .info {
	background-color: white;
	color: black;
	padding: 1.5em;
	overflow: hidden;
	position: absolute;
	top: 3em;
	left: 3em;
	right: 3em;
	bottom: 3em;
	display: none;
}

#grid-view article.cell.no-img .info,
#grid-view article.cell:hover .info {
	display: block;
}

/*#grid-view article.cell:hover {
	border: 1px solid white;
	padding: 0px;
}

#grid-view article.cell.active {
	border: 1px solid black;
	padding: 0px;
}*/

#grid-view article.cell.active .info {
	display: none;
}

#grid-view article.cell.cell-width-0 .info, 
#grid-view article.cell.cell-width-50 .info {
	padding: 0.5em;
	font-size: 25%;
}
#grid-view article.cell.cell-width-100 .info {
	padding: 0.5em;
	font-size: 50%;
}
#grid-view article.cell.cell-width-150 .info {
	padding: 0.75em;
	font-size: 58%;
}
#grid-view article.cell.cell-width-200 .info {
	padding: 1em;
	font-size: 66%;
}
#grid-view article.cell.cell-width-250 .info {
	padding: 1em;
	font-size: 74%;
}
#grid-view article.cell.cell-width-300 .info {
	padding: 1.25em;
	font-size: 82%;
}
#grid-view article.cell.cell-width-350 .info {
	padding: 1.25em;
	font-size: 90%;
}

#grid-view article.cell.cell-width-0 .info .description,
#grid-view article.cell.cell-width-50 .info .description,
#grid-view article.cell.cell-width-100 .info .description {
	display: none;
}

#grid-view article.cell {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: fixed;
	-webkit-background-size : cover;
	-moz-background-size : cover;
	-o-background-size : cover;
	background-size : cover;
}

#grid-view article.cell.type-visualization {
	-webkit-background-size : contain;
	-moz-background-size : contain;
	-o-background-size : contain;
	background-size : contain;
}

#grid-view article.cell.type-title {
	background-image: none;
	background-color: white;
	color: black;
}
#grid-view article.cell.type-title .info {
	display: block;
/*	top: 0em;
	left: 0em;
	right: 0em;
	bottom: 0em;*/
}

#grid-view article.cell .content {
  width: 100%;
	height: 100%;
}
#grid-view article.cell .content iframe {
	width: 100%;
	height: 100%;
	border: 0px;
	overflow: hidden;
}