
#grid-view article.cell {
	position: absolute;
	padding: 1px;
	color: white;
}
#grid-view article.cell.no-img {
	color: black;
}

#grid-view article.cell h1.title {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 0.1em;
	margin-bottom: 0.5em;
}

#grid-view article.cell .info .description {
}

#grid-view article.cell .info {
	padding: 18px;
	display: none;
}

#grid-view article.cell.no-img .info,
#grid-view article.cell:hover .info {
	display: block;
}

#grid-view article.cell:hover {
	border: 1px solid white;
	padding: 0px;
}

#grid-view article.cell.active {
	border: 1px solid black;
	padding: 0px;
}

#grid-view article.cell.active .info {
	display: none;
}

#grid-view article.cell {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: fixed;
	-webkit-background-size : cover;
	-moz-background-size : cover;
	-o-background-size : cover;
	background-size : cover;
}

#grid-view article.cell.type-visualization {
	-webkit-background-size : contain;
	-moz-background-size : contain;
	-o-background-size : contain;
	background-size : contain;
}

#grid-view article.cell.type-title {
	background-image: none;
	color: black;
}
#grid-view article.cell.type-title .info {
	display: block;
}

#grid-view article.cell .content {
  width: 100%;
	height: 100%;
}
#grid-view article.cell .content iframe {
	width: 100%;
	height: 100%;
	border: 0px;
	overflow: hidden;
}