
#slider {
	position: absolute;
	bottom: 0px;
	top: 50px;
}

#slider a {
	display: block;
	background-color: rgba(0,0,0,0.1);
	width: 100px;
	height: 8px;
}
#slider a:hover {
	background-color: rgba(0,0,0,0.2);
}
