<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Motion Bank backend - <%= title %></title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="/javascripts/confirm.js" type="text/javascript"></script>

    <link href="/stylesheets/reset.css" rel="stylesheet" />
    <link href="/stylesheets/style.css" rel="stylesheet" />
    <link href="/stylesheets/lists.css" rel="stylesheet" />

  </head>
  <body>
  	<header id="header">
  		<h1><a href="/admin">Motion Ba'ckend</a></h1><br/>
      Hey, <a href="/admin/users/<%= user.id %>/edit"><%= user.name %></a>!<br/>
      <br/>
  		<nav><ul>
        <li><a href="/admin/">Sets</a></li>
        <li><a href="/admin/sets/new">New set</a></li>
        <li>-----</li>
        <li><a href="/admin/cells">Cells</a></li>
        <li><a href="/admin/cells/new">New cell</a></li>
        <li>-----</li>
        <li><a href="/admin/vimeo/albums">Vimeo albums</a></li>
        <li>-----</li>
        <li><a href="/admin/logout">Log out</a></li>
  		</ul></nav>
  	</header>

    <% if (messages && messages.length > 0) { %>
      <div id="messages">
        <% for (var i = 0; i < messages.length; i++) { %>
          <div class="message"><%= messages[i].message %></div>
        <% } %>
      </div>
    <% } %>
