<% include ../_header %>
	<section id="main">
		<style type="text/css">@import url('/stylesheets/cells.css');</style>
		<h1>Edit cell »<%= cell.title %>« (#<%= cell.id %>)</h1>
		<% include _edit %>
	</section>
<% include ../_footer %>