<% include ../_header %>
	<section id="main">
		<style type="text/css">@import url('/stylesheets/cells.css');</style>
		<h1>Create a new cell</h1>
		<% include _edit %>
	</section>
<% include ../_footer %>