
/* ------------------ +
 +	EDIT
 + ------------------ */

.cell-edit form {
	padding-top: 18px
}
.cell-edit form input[type=text],
.cell-edit form select,
.cell-edit form textarea {
	width: 360px;
	margin: 0px 0px 9px 0px
}
.cell-edit form label {
	display: block;
}
.cell-edit form .fields {
	clear: both;
}
.cell-edit form .fields input {
	width: 177px;
	margin: 0px 0px 4.5px 0px
}
.cell-edit form fieldset {
	margin: 0px 0px 18px 0px
}