
/* ------------------ +
 +	EDIT
 + ------------------ */

.cell form {
	padding-top: 18px
}
.cell form input[type=text],
.cell form select,
.cell form textarea {
	width: 360px;
	margin: 0px 0px 9px 0px
}
.cell form label {
	display: block;
}
.cell form .fields {
	clear: both;
}
.cell form .fields input {
	width: 177px;
	margin: 0px 0px 4.5px 0px
}
.cell form fieldset {
	margin: 0px 0px 18px 0px
}