#layout-editor, #cells, #main nav, #actions
{
	margin-top: 18px;
}

#layout-editor {
	overflow-x: scroll;
	padding-bottom: 9px;
}

.grid {
}

.grid {
	width: 100%;
	height: 144px;
	border-collapse: separate;
	position: relative;
}

.grid .cell-adder {
	border: 1px solid #97aaaa;
	position: absolute;
}

.grid .add-col {
	width: 13px;
	height: 100%;
	right: 0px;
	top: 0px;
}

.grid .add-row {
	height: 13px;
	width: 100%;
	bottom: 0px;
	left: 0px;
}

.grid .grid-cell {
	opacity: 1;
	border: 1px solid #97aaaa;
	background-color: #c7dddd;
	text-align: center;
	vertical-align: middle;
	color: #97aaaa;

	background-repeat: no-repeat;
	background-position: center center;
	background-size: fixed;
	-webkit-background-size : cover;
	-moz-background-size : cover;
	-o-background-size : cover;
	background-size : cover;
}

.grid .grid-cell.drag-hover,
.grid .grid-cell.just-dropped {
	border: 1px solid white;
}

.grid .grid-cell.drag-hover {
	opacity: 0.75;
	background-color: white;
}

.grid .grid-cell.selected {
	border-color: white;
}

.grid .grid-cell.add-x,
.grid .grid-cell.add-y {
	color: #97aaaa;
	border: 0px solid transparent;
	background-color: transparent;
}

.grid .grid-cell.add-x.drag-hover,
.grid .grid-cell.add-y.drag-hover {
	color: #536666;
	background-color: white;
}

.grid .grid-cell.add-x {
	width: 15px;
}

.grid .grid-cell.add-y {
	height: 15px;
}

.grid .add-y.add-x {
	width: inherit;
	height: inherit;
}

.grid-cell .resize-handle {
	display: none;
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 8px;
	height: 8px;
	background-color: white;
}

.grid-cell.selected .resize-handle {
	display: block;
}

.grid-cell.z-behind {
	z-index: -100;
}

/*
 +	CELL LIST
 + -------------- */

#cells .filters {
	padding: 4.5px;
}

#cells .cell-list {
	max-height: 504px;
	overflow: hidden;
	overflow-y: scroll;
	border-bottom: 1px solid #888888;
}

.cell.drag-helper {
	width: 100px;
	height: 100px;
	text-align: center;
	border: 1px solid rgba(0,0,0,0.3);
	background-color: rgba(0,0,0,0.15);
	overflow: hidden;
	color: white;
}

.cell.drag-helper * {
	float: none;
}

.cell.drag-helper .preview {
	display: block;
	width: 100px;
}

.cell.drag-helper .preview img {
	max-width: 100px;
	max-height: 70px;
}