<% include ../_header %>
	<section id="main">
		<h1>Vimeo album »<%= album.title %>« <a href="https://vimeo.com/album/<%= album.id %>">§</a></h1>
		<br/>
		
		<% include _videos %>

	</section>
<% include ../_footer %>