<% include ../_header %>
	<section id="main">
		<h1>Motion Bank Vimeo album videos <a href="https://vimeo.com/album/<%= album_id %>">ยง</a></h1>
		<br/>
		
		<% include _videos %>

	</section>
<% include ../_footer %>