<% include ../_header %>
	<section id="main">
		<h1>Motion Bank albums on Vimeo <a href="https://vimeo.com/motionbank/albums">ยง</a></h1>
		<br/>

		<% for ( var i = 0, k = albumData.on_this_page; i < k; i++ ) { %>
			<% var album = albumData.album[i]; %>
			<div><%= album.title %> <a href="/admin/vimeo/album/<%= album.id %>">view</a> <a href="https://vimeo.com/album/<%= album.id %>">ยง</a></div>
		<% } %>

	</section>
<% include ../_footer %>